
parameters:

    paths:
        - app/
        - config/
        - database/
        - routes/

    scanFiles:
        - _ide_helper_models.php

    # Level 10 is the highest level
    level: 7

    strictRules:
        allRules: false

#    ignoreErrors:
#        - '#PHPDoc tag @mixin contains unknown class App\\Models\\IdeHelper#'
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
